.family-member-modal {
    width: 40%;
}

#rendered-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 30px;
    align-content: center;
    align-items: center;
}